body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header { 
    margin-top: 2%;  
    background-color: rgba(27, 12, 243, 0.897);
    font-size: calc(1rem+1vw);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 45px;
}

h2 {
    color: white;
    text-align: center;
}

main {
    width: 500px;
    height: 800px;
    margin: 20px auto ;
    padding: 20px;
    background: url('flutter.jpg');
    background-size: cover;
    background-position: center;
    font-size: calc(1rem+1vw);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
